<configuration>
    <dllmap dll="libcairo-2" os="linux" target="libcairo.so.2" />
    <dllmap dll="libcairo-2" os="osx"   target="libcairo.2.dylib"/>

    <dllmap dll="nanosvg" os="linux" wordsize="32" target="Lib32/libnanosvg.so" />
    <dllmap dll="nanosvg" os="linux" wordsize="64" target="Lib64/libnanosvg.so" />
    <dllmap dll="nanosvg" os="osx"   wordsize="32" target="Lib32/libnanosvg.dylib" />
    <dllmap dll="nanosvg" os="osx"   wordsize="64" target="Lib64/libnanosvg.dylib" />
</configuration>
